
<h3>Here are Some of the Most Popular Colleges in The Country: </h3>
<h4> Galway Colleges:</h4>
<a href="https://www.gmit.ie/"> Galway Mayo Institute of Technology (GMIT)</a>
<br>
<br>
<a href="http://www.nuigalway.ie/"> National University of Ireland Galway (NUIG)</a>
<br>
<br>
<a href="http://www.gti.ie/"> Galway Technical Institute (GTI)</a>
<br>
<br>
<h4> Dublin Colleges: </h4>
<a href="https://www.ucd.ie/"> University College Dublin (UCD)</a>
<br>
<br>
<a href="https://www.dcu.ie/"> Dublin City University (DCU)</a>
<br>
<br>
<a href="http://www.dit.ie/"> Dublin Institute of Technology (DIT)</a>
<br>
<br>
<h4> Limerick Colleges: </h4>
<a href="https://www.ul.ie/"> University Limerick (UL)</a>
<br>
<br>
<a href="http://www.lit.ie/default.aspx"> Limerick Institute of Technology (LIT)</a>
<br>
<br>
<h4> Sligo Colleges: </h4>
<a href="https://www.itsligo.ie/"> Sligo Institute of Technology (SligoIT)</a>
<br>
<br>
<a href="http://www.stangelas.nuigalway.ie/"> St Angelas College Sligo</a>
<br>
<br>
