<mat-toolbar color="primary">List of Students</mat-toolbar>
<mat-accordion multi="true">
    <br>
  <mat-expansion-panel [expanded]="true" *ngFor="let student of students">
    <mat-expansion-panel-header>
        <br>
      Student Name: {{ student.name }}
      <br>
      College: {{ student.college }}
      <br>
      Course Studying: {{ student.course }}
      <br>
      Year of Study: {{ student.year }}
      <br>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button [routerLink]="['/edit', student._id]" color="primary">EDIT</button>
      <button mat-button (click)="onDelete(student._id)" color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
